<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.demo.mapper.AccessoryMapper">




	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.ssm.demo.entity.Accessory">
	  insert into accessory
	  (
	  file_name,
	  file_path,
	  date_name)
	  values
	  (
	  #{fileName},
	  #{filePath},
	  #{dateName})
	</insert>

	<update id="updateByDateName" parameterType="String" >
		update accessory set
		date_name=#{dateName2}
		where date_name=#{dateName}
	</update>

</mapper>